<app-loader [isLoading]="isLoading"></app-loader>

<div class="container mt-5">
    <div class="card p-4 shadow-lg bg-light">
        <h2 class="text-primary text-center">Create a Project</h2>

        <form #createProjectForm="ngForm" (ngSubmit)="onCreate(createProjectForm)">
            <!-- Project Name -->
            <div class="mb-3">
                <label for="projectName" class="form-label fw-bold">Project Name:</label>
                <input type="text" class="form-control" id="projectName" placeholder="Enter project name" required
                    ngModel name="projectName" [(ngModel)]="projectObj.projectName" #projectName="ngModel">
            </div>

            <!-- deadline -->
            <div class="mb-3">
                <label for="deadline" class="form-label fw-bold">Deadline:</label>
                <input type="date" class="form-control" id="deadline" placeholder="Enter deadline" required
                    name="deadline" ngModel [(ngModel)]="projectObj.duedate" #deadline="ngModel">
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label fw-bold">Project Description:</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Enter project description"
                    required ngModel name="description" [(ngModel)]="projectObj.description"
                    #description="ngModel"></textarea>
            </div>


            <!-- Buttons -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary px-4"
                    [disabled]="createProjectForm.invalid">Create</button>
                <button type="reset" class="btn btn-secondary px-4">Reset</button>
            </div>
            <!-- THIS ARE BACKEND ERRORS -->
            @if(isErrorNotEmpty!) {
            <p class="error-message" *ngFor="let err of error | keyvalue">
                {{ err.key }}: {{ err.value }}
            </p>
            }

            @if(createProjectForm.invalid && description.touched) {
            <p class="error-message">
                All Fields are required to fill
            </p>
            }
        </form>
    </div>
</div>