.container{
    
}

.add-btn {
    background-color: #007bff;
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .add-btn:hover {
    background-color: #0056b3;
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }